<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${item.title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="grid header__navbar-list" style="margin-right: 15%;">
                        <li class="header__navbar-item" style="position: relative; top: -45%;">
                            <a href="/trangchu" class="header__navbar-item-link"
                                style="font-size: 3em; font-weight: 800;">
                                <img src="/.assets/img/logo.png" alt="logo"
                                    style="position: relative; top: -15px; left: 10px;">
                                Trao đổi đồ
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <form action="/search" method="GET" style="all: unset">
                                <input name="searchkeyword" type="search" class="header__navbar-item-search"
                                    placeholder="Tìm món bạn muốn">
                                <button type="submit" class="searchButton"><i class="fa-solid fa-magnifying-glass"
                                        style="color: #009dff;"></i></button>
                            </form>
                        </li>
                        <li class="header__navbar-item">
                            <a th:href="@{/post/{iid}(iid = -1)}" class="header__navbar-item-link">
                                <i class="fa-solid fa-angles-up"
                                    style="font-size: 1.5em; position: relative; left: 50%; top: -25px;"></i>
                                Post bài
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="trangchu" class="header__navbar-item-link">
                                <i class="fa-regular fa-envelope"
                                    style="font-size: 1.5em; position: relative; left: 50%; top: -25px;"></i>Tin nhắn
                            </a>
                        </li>
                        <li class="header__navbar-item" style="position: absolute; left: 74%;">
                            <a href="/account/profile" class="header__navbar-item-link">
                                <i class="fa-regular fa-circle-user"
                                    style="font-size: 1.5em; position: relative; left: 50%; top: -25px;"></i>
                                <span th:text="${session.user != null ? session.user.uname : 'Tài khoản'}"
                                    style="position: relative; left: -3%">Tài khoản</span>
                            </a>
                        </li>
                        <li class="header__navbar-item" th:if="${session.user != null}"
                            style="position: absolute; right: 1%">
                            <a href="/dangxuat" class="header__navbar-item-link">
                                <i class="fa-solid fa-arrow-right-from-bracket"
                                    style="font-size: 1.5em; position: relative; left: 50%; top: -25px;"></i>
                                <span style="position: relative; left: -5%">Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="menu header__navbar">
            <ul class="menu__list grid">
                <li class="menu__list-item">
                    <a class="menu__list-item-link" href="#">Thời trang</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" href="#">Đồ sưu tập</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" href="#">Trade only</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" href="#">Đồ ngang giá</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" href="#">Danh mục khác</a>
                </li>
            </ul>
        </div>

        <div class="grid" style="margin-bottom: -10px; margin-top: 5px; padding-inline-start: 30px;"><a href="/trangchu"
                class="grid" style="color: #009dff; font-size: 1.8rem; font-weight: 500;">Trang chủ</a></div>


        <div class="container grid" style="height: fit-content;">
            <span class="menuSpan">SẢN PHẨM</span>
            <div class="container__item">
                <h1 class="menuSpan" style="padding: 20px; font-size: 30px;"><span th:text=${item.title}></span></h1>
                <div class="inFormation">
                    <div class="swiper">
                        <div id="overlay">
                            <div id="imagePreview">
                            </div>
                            <button id="closeButton">Close</button>
                        </div>
                        <div class="swiper-wrapper">
                            <div th:if="${item.img1}" class="swiper-slide"><img th:src="${item.img1}" alt="noimg1">
                            </div>
                            <div th:if="${item.img2}" class="swiper-slide"><img th:src="${item.img2}" alt="noimg2">
                            </div>
                            <div th:if="${item.img3}" class="swiper-slide"><img th:src="${item.img3}" alt="noimg3">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>

                        <div class="swiper-button-prev"
                            style="background-color: rgb(240, 248, 255, 0.7); border-radius: 7px; padding-top: 25px;padding-bottom: 25px;">
                        </div>
                        <div class="swiper-button-next"
                            style="background-color: rgb(240, 248, 255, 0.7); border-radius: 7px; padding-top: 25px;padding-bottom: 25px;">
                        </div>

                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
                <div class="inFormation">
                    <h1 style="text-align: left; font-size: 20px;">Người đăng: <span
                            th:text="${authorname}+' (username: '+${author}+')'"></span></h1>
                    <div class="inFormation__inside">
                        <h1 style="text-align: left; font-size: 30px;">Chấp nhận:
                            <span th:if="${item.AcceptType == 1}">Chỉ trade</span>
                            <span th:if="${item.AcceptType == 2}">Chỉ bán</span>
                            <span th:if="${item.AcceptType == 3}">Bán + trade</span>
                        </h1>
                        <h1 style="text-align: left; font-size: 30px;"
                            th:if="${item.AcceptType == 2 || item.AcceptType == 3}">Giá Bán: <span
                                th:text="${item.SellPrice}"></span></h1>
                        <h1 style="text-align: left; font-size: 30px;"
                            th:if="${item.AcceptType == 1 || item.AcceptType == 3}">Giá Trade: <span
                                th:text="${item.TradePrice} +'±'+ ${item.TradeRange}"></span></h1>
                    </div>
                    <h1 style="text-align: right; font-size: 20px; font-style: italic;">Trạng thái:&thinsp; <span
                            th:text="${item.Avaiable}>0? ${item.Avaiable} + ' Avaiable' : 'Unavaiable'"
                            th:style="${item.Avaiable}>0? 'color: green;' : 'color: red;'"></span></h1>
                </div>

            </div>
            <div class="deScription">
                <h1>Mô tả chi tiết</h1>
                <span class="menuSpan" th:text=${item.Descr}>
                </span>
            </div>
            <div style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
                <form action="/#" method="POST">
                    <div style="margin: 10px; display: flex; align-items: center; justify-content: center; font-size: large;">
                        <label for="buyamount">
                            Số lượng: 
                        </label>
                        <input id="input-quantity" onkeyup="updatePrice()" onchange="updatePrice()" type="number" name="buyamount" style="width: 10%;" max="10" min="1" required>
                    </div>
                    <div style="margin: 10px; display: flex; justify-content: center; font-size: large;">
                        Giá:&thinsp;<span id="price">0</span> &thinsp;đồng
                    </div>
                    <div style="margin: 10px; display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-success" style="width: 15%; font-size: large; font-weight: 600;">
                            Xác nhận mua
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <!-- Grid container -->
        <div class="container p-4" style="background-color: rgb(0, 174, 255, 0.5);">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Lấy danh sách các ảnh trong swiper
            const images = document.querySelectorAll('.swiper-slide img');

            // Lặp qua từng ảnh và thêm sự kiện click
            images.forEach(function (image) {
                const url = image.src;
                console.log(url);
                image.addEventListener('click', function () {
                    imagePreview.style.backgroundImage = `url(${url})`;
                    overlay.style.display = "flex";
                });
            });
        });
        function closeOverlay() {
            overlay.style.display = "none";
        }

        closeButton.addEventListener("click", closeOverlay);
        overlay.addEventListener("click", closeOverlay);
        imagePreview.addEventListener("click", (event) => {
            event.stopPropagation(); // Ngăn chặn sự kiện click lan ra khỏi phần tử imagePreview
        });
    </script>
    <script>
        function updatePrice() {
        var quantity = document.getElementById("input-quantity").value;
        var price = quantity * 10; // Giá cả tùy thuộc vào logic của bạn

        document.getElementById("price").textContent = price;
    }
    </script>
</body>

</html>